.main_chat
  .main_chat_1
    .main_chat_1__left-box
      .main_chat_1__left-box__current-group
        = @group.name
      .main_chat_1__left-box__member-list
        Member: 
        .main_chat_1__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
            
    = link_to edit_group_path(@group) do
      .main_chat_1__edit-btn
        Edit

  .main_chat_2
    = render @messages
    
  .main_chat_3
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'input-box__image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
